<h1>Wybierz rodzaj produktu jaki chech wypożyczyć</h1> <br />

<a href="/books"><button {% if not user.is_authenticated %} disabled {% endif %}>Książki</button></a>
<a href="/films"><button {% if not user.is_authenticated %} disabled {% endif %}>Filmy</button></a>
<a href="/cds"><button {% if not user.is_authenticated %} disabled {% endif %}>Płyty CD</button></a>
<br />
<br />
{% if not user.is_authenticated %}
<a href="/login">Aby przejść dalej musisz się zalogować!</a>
{% else %}
<a href="/logout">Wyloguj</a>
{% endif %}